.about > section:nth-of-type(1) {

}

.about > section {
    padding: 5rem;
    padding-inline: 25rem;
}

.about > section:nth-of-type(2) {
    background-color: var(--color-light-accent);
    outline: 1px var(--color-border) solid;
}

.about li {
    list-style: none;
}