.about > section:nth-of-type(1) {
    padding-block: 10rem;
}

.about > section:nth-of-type(2) {
    background-color: var(--color-light-accent);
    border: 1px var(--color-accent) solid;
}
.about li {
    list-style: none;
}