.field {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
}

.field textarea {
    block-size: 10rem;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* hell yea */
.two-column img {
    place-self: center;
}
