.main-header {
    background-color: red;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.main-header > nav {
    display: flex;
}

.main-header > nav > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}