.main-header {
    background-color: var(--color-background);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-header > nav {
    display: flex;
}

.main-header > nav > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.main-header > nav > ul > li:nth-of-type(1) {
    margin-right: 10rem;
}

.main-header > nav > ul > li:nth-of-type(6) {
    margin-left: 2rem;
}

.main-header > nav > ul > li {
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header a {
    color: var(--color-primary-text);
}