.landing-section > section {
    gap: 3rem;
    text-align: center;
}

.div-buttons {
    display: flex;
    justify-content:center;
    gap: 2rem;
}
.div-buttons button {
    flex: 1;
    padding: 1rem;
    max-inline-size: 20rem;
}