.profile-section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-section h1 {
    text-align: center;
}
.profile-section span img {
    display: inline;
}

.div-buttons {
    display: flex;
    justify-content:center;
    gap: 2rem;
}
.div-buttons button {
    flex: 1;
    padding: 1rem;
    max-inline-size: 20rem;
}

@media screen and (width > 720px) {
    .professional-path-entry {
        padding-inline: 3rem;
    }
}