.card-expand {
    background: linear-gradient(to top, var(--color-background-light) 30%, var(--color-border));
    border-top: 0.2rem solid var(--color-border);
    border-left: 0.2rem solid var(--color-border);
    border-right: 0.2rem solid var(--color-border);
    border-radius: 2rem;
}
.card-expand {
    margin-block: 2rem;
    text-align: center;
}
.card-expand > div > h3 {
    padding: 1rem;
}

.card-expand .expandable {
    overflow: hidden;
    border-top: 0.2rem var(--color-accent-strong) solid;
    opacity: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 0;
    transition:
        padding .5s ease,
        max-height .5s ease,
        opacity .3s ease;
}
/* starting-style!!! */
.card-expand .expandable.active {
    padding: 2rem;
    opacity: 1;
    max-height: 80vh;
}

.expand-button {
    width: 100%;
    background-color: var(--color-background-light);
    border-top: 0.2rem var(--color-accent-strong) solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

@media screen and (width > 720px) {
    .card-expand .expandable.active {
        max-height: 30vh;
    }
}