#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
}

.two-column-layout {
    display: grid;
    place-items: center;
}

.three-column-layout {
    display: grid;
    place-items: center;
}
.wrapper {
    margin-inline: auto;
    max-inline-size: 1280px;
    inline-size: 100%;
}
.gray-section {
    background-color: var(--color-background-medium);
    outline: 0.1rem var(--color-border) solid;
}
.card {
    box-shadow: 0 0 0.3rem var(--color-primary-text);
    background: var(--color-accent-strong);
    padding: 2rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--color-border);
}
.card-simple {
    background: var(--color-background-light);
    min-width: 10rem;
    padding: 1rem;
    margin-block: 0.5rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--color-border);
}
.card-extend {
    background: linear-gradient(to top, var(--color-background-light) 30%, var(--color-border));
    border-top: 0.2rem solid var(--color-border);
    border-left: 0.2rem solid var(--color-border);
    border-right: 0.2rem solid var(--color-border);
    border-radius: 2rem;
}

@media screen and (width > 720px) {
    #root {
        text-align: left;
    }

    .two-column-layout {
        grid-template-columns: 1fr 1fr;
    }
    .three-column-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
} */