* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: clamp(16px, 1vw, 24px);
}

:root {
    font-family: "Merriweather", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --color-background: #121212;
    --color-background-light: #222;
    --color-primary-text: #E0E0E0;
    --color-secondary-text: #B0B0B0;
    --color-border: #444444;
    --color-light-accent: #d7d7d7;
    --color-medium-accent: #c0c0c0;
    --color-accent: #888888;

    color-scheme: light dark;
    background-color: var(--color-primary-text);
    color: var(--color-background);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--color-background);
    text-decoration: inherit;
}
a:hover {
    color: var(--color-accent);
    cursor: pointer;
}

body {
    margin: 0;
    font-size: 1rem;
}

h1 {
    font-size: 5rem;
    line-height: 1.1;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-background);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--color-accent);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

img {
    max-inline-size: 100%;
    display: block;
}

section {
    padding-inline: 5rem;
    padding-block: 5rem;
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}